.Header {
    width: 100%;
    height: 80px;
    background: #171477;
    margin: auto;
    padding: 10px;
}

.Logo img {
    float: left;
    height: 10vmin;
    margin: 10px;
    border-radius: 50%;
}

.Name h2{
    width: 60%;
    float: right;
    margin: 10px 0px 10px 100px;
    justify-content: center;
    font-size: calc(40px + 2vmin);
    color: white;
}