.SideBar{
    background-color: #41404f;
    display: inline-block;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    color: white;
}

.Menu {
    margin : 2px 0 10px 2px;
    padding: 10px;

}

.Menu li{
    display: block;
    margin: 5px;
    padding-right: 2px;
}

.Menu li a{
    color: #CCC;
    text-decoration: none;
}

.Menu li a:hover{
    color: #EEEEEE;
    text-decoration: none;
}

h2 {
    margin: 6px;
}